*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dcdcdc;
    color: #212529;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
header{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: #00378a;
    color: #dcdcdc;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
#dl{
    position: absolute;
    right: 20px;
}
li{
    margin: 0px 30px 0px 30px;
}
a{
    text-decoration: none;
    color: #dcdcdc;
}
button{
    all: unset;
    background-color: #00378a;
    padding: 30px;
    color: white;
    
}
main{
    display: flex;
    flex-direction: row;
}
#left{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 125px;
    height: auto;
}
#left p{
    margin: 10px;
}
#leftGames{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 30px;
    padding: 75x;
    height: auto;
}
#right{
    background-color: #001b45;
    color: #dcdcdc;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
#right th, #right td{
    text-align: center;
    padding: 10px;
}
#buttons, #inpts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#left button, .card{
    border-radius: 15%;
    margin: 30px;
    padding: 15px;
    font-size: 20px;
    background-color: #00378a;
    color: #dcdcdc;
}
.card, .ansr{
    height: 150px;
    width: 100px;
    background-image: none;
    text-align: center;
}
.gra{
    border-radius: 15%;
    margin: 30px;
    padding: 15px;
    font-size: 20px;
    background-color: #00378a;
    color: #dcdcdc;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#left input{
    padding: 20px;
    margin: 10px;
}
footer{
    background-color: #00378a;
    color: #dcdcdc; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li:hover, button:hover {
  transform: scale(1.1);
  border-color: 1px solid white;
  border-radius: 15%;
}
@media only screen and (max-width: 1500px){
    body{
        font-size: 20px;
    }
}
@media only screen and (max-width: 1200px){
    #dl{
        position: inherit;
        right: auto;
        bottom: auto;
    }
    .gra{
        width: 200px;
        height: 200px;
        font-size: x-small;
    }
}
@media only screen and (max-width: 1000px){
    body{
        font-size: 15px;
    }
    .card, .ansr{
    height: 115px;
    width: 75px;
    }
}
@media only screen and (max-width: 800px){
    .gra{
        width: 150px;
        height: 150px;
    }
    #leftGames{
        padding-left: 150px;
    }
    #left{
        width: 100%;
    }
    #right{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    main{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    nav{
        padding: 15px;
    }
    nav ul li{
        padding: 30px;
    }
}
@media only screen and (max-width: 600px){
    body{
        font-size: 10px;
    } 
    #buttons{
        flex-direction: column;
    }
    #inpts{
        flex-direction: column;
    }
    .gra{
        width: 100px;
        height: 100px;
        font-size: xx-small;
    }
}
